
header{
    background-color: black;
    height: 100px;
    margin: 0%;
    padding: 5%;
}

html{
    background-color: rgb(53, 50, 50);
    margin: 0%;
    padding: 0%;

}

.card{
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    width: 200px;
    height: 365px;
    background-color: rgb(231, 194, 71);
    margin: 15px;
    padding: 15px;
    
   
}


.image{
    text-align: center;
    border-radius: 10px;
    width: 200px;
    height: 200px;

}

.name{
    
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    line-height: 10px;
    padding: 10px;
    color: black;
    font-weight: bold;
    line-height: 18px;
    padding-left: 15px;
    word-wrap: normal;
    

    
}

.status{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    line-height: 10px;
    padding: 10px;
    color: black;
    font-weight: bold;
    line-height: 18px;
    padding-left: 15px;
    
}

.gender{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    line-height: 10px;
    padding: 10px;
    color: black;
    font-weight: bold;
    line-height: 18px;
    padding-left: 15px;

  
}


  
.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 70px;
    margin:0px;
    color: rgb(5, 104, 104);
    text-shadow: 3px 3px #eeea09;
    
   }

   .filtrogender{
       background-color: rgb(5, 104, 104);
       color: white;
       height: 35px;
       border-radius: 5px;
   }

   .filtrostatus{
    background-color: rgb(5, 104, 104);
    color: white;
    height: 35px;
    border-radius: 5px;

   }