
html{
    background-color: rgb(53, 50, 50);
}

.card{
    border-radius: 10px;
    display: inline-block;
    width: 300px;
    height: 400px;
    background-color: rgb(231, 194, 71);
    margin: 10px;
}

header{
    height: 150px;
    background-color: whitesmoke;
}

.image-logo{
    text-align: center;
}

.card-image{
    border-radius: 10px;
}
.card-character{
    text-align: center;
}
.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    
    
   }
